# Environment variables for the application
PORT = 9090
# add your mongodb connection string
MONGO_URI = Add your mongodb connection string 
# add your JWT secret key 
JWT_SECRET = Add your secret key 